__pycache__
/__pycache__
.__pycache__

problms
.problms
/problms
/problms/


.icons
/icons
icons
/icons/
icons/


secure_vault
.secure_vault
/secure_vault/
/secure_vault



backups
/backups
/backups/
.backups
.backups/


*.dat
*.log
*.txt